@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root {
    --color1: #FFCF81;
    --color2: #FFB996;
    --color3: #FDFFAB;
    --color4: #D9EDBF;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Salsa', cursive;
    color: gray;
}

.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}