.total {
    font-size: 2rem;
    margin: auto;
    margin-top: 1rem;
    color: gray;
    width: fit-content;
}

.total div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    margin: auto;
    border-radius: 50%;
    height: 7rem;
    padding: 1rem;
    background-color: var(--color4);
}

.total span {
    font-size: 2rem;
    font-weight: 600;
}

.addExpense {
    position: fixed;
    bottom: 6rem;
    right: 1.5rem;
    background-color: var(--color1);
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 4px gray;
    cursor: pointer;
    color: black;
}

.addExpense > span {
    margin-right: .3rem;
    font-size: 2rem;
}