.joinGroupBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(105, 215, 105);
    transition: all .5s;
}

.clicked {
    box-shadow: 2px 2px 4px black inset;
    color: gray;
    background-color: rgba(105, 215, 105, 0.701);
}