.table {
  /* margin-top: 15rem; */
  display: grid;
  width: 100%;
  border-radius: 1rem;
  color: gray;
}

.headers {
  display: flex;
  width: 100%;
  background-color: var(--color1);
  padding: 1rem 0;
}

.tableHeader {
  text-align: center;
  width: 25%;
  font-size: 1.2rem;
}

.tbody {
  margin-top: 0.25rem;
  padding: 0 0.5rem;
  /* height: 55vh; */
  height: calc(100vh - 12rem);
  overflow-y: scroll;
  /* background-color: aqua; */
}

.row {
  display: flex;
  width: 100%;
  /* border-radius: 5px; */
  align-items: center;
  border-bottom: 1px solid rgb(222, 214, 214);
  justify-content: space-between;
  color: gray;
  flex: 1 0 100%;
}

.cell {
  width: 25%;
  text-align: center;
  overflow: hidden;
  padding: 0.5rem 0;
  text-overflow: ellipsis;
}

.date {
  width: 10%;
  /* background-color: gray;
  border-radius: .5rem;
  margin: .5rem 0;
  color: white;
  padding: .2rem; */
}

.description {
  width: 60%;
  text-align: start;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  white-space: nowrap;
  /* background-color: blue; */
}

.amount {
  width: 25%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  /* color: rgb(116, 88, 255); */
}

.amount span {
  color: gray;
}

.wrapper {
  display: flex;
  /* overflow:hidden; */
  transition: transform .5s;
  width: 100%;
  align-items: center;
}

.container {
  overflow: hidden;
}

.delete {
  margin-left: 2rem;
  color: red;
  /* background-color: aqua; */
}

.noExpense {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

.addExpense {
  font-size: 1rem;
  width: fit-content;
  margin: 2rem auto;
  background-color: var(--color1);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 5px 5px 4px gray;
  cursor: pointer;
  color: black;
}

.addExpense > span {
  margin-right: 0.3rem;
  font-size: 2rem;
}

.controls {
  position: sticky;
  display: flex;
  padding: 1rem 0;
  gap: .5rem;
  color: black;
  justify-content: space-evenly;
  background-color: var(--color1);
}

.control {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: .5rem;
}

/* select { */
  /* background-color: aqua; */
  /* max-width: 7.3rem; */
/* } */

/* 
.dropdown {
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} */
